.quickswitcher-3JagVE {
  background-color: var(--bg-secondary-glas);
  backdrop-filter: blur(var(--popup-blur));
  border: 1px solid var(--border-glas);
  .scroller-zPkAnE {
    background-color: transparent;
  }
  .input-2VB9rf {
    background-color: var(--bg-tertiary-glas);
    box-shadow: none;
  }
}
.backdrop-1wrmKB {
  backdrop-filter: blur(var(--popup-backdrop-blur));
  background-color: #0000007f !important;
  opacity: 1 !important;
}
