.uploadModal-2ifh8j {
  background-color: var(--bg-primary-glas) !important;
  backdrop-filter: blur(var(--popup-backdrop-blur));
  .scrollableContainer-2NUZem {
    background-color: var(--bg-secondary-glas);
    opacity: 0.85;
  }
  .footer-3mqk7D {
    background-color: var(--bg-tertiary-glas);

  }
}
