:root {
  // Colors
  --border-glas: #ffffff3f;
  --bg-primary: #4a4a55;
  --bg-primary-glas: #4a4a557f;
  --bg-secondary: #383844;
  --bg-secondary-alt: #32323d;
  --bg-secondary-glas: #3838447f;
  --bg-tertiary: #262632;
  --bg-tertiary-glas: #2626323f;

  // Blurs
  --message-field-blur: 15px;
  --header-blur: 20px;
  --popup-blur: 30px;
  --popup-backdrop-blur: 5px;
}